/* STRUCTURE CSS */

body {
 background-color: #f8f9fa;
}

a {
    text-decoration:none;
    color: #212529;
}

a:hover{
    color: #212529;
}

.post-none-toggle{
    display: none !important
}

.post-none{
    display: none !important
}

.post-none-search{
    display: none !important
}

.post-block-search{
    display: block
}



.fa-search{
    cursor: pointer;
}

.row-header{

    display: flex;
    flex-direction: row;
    width:  100%;
    justify-content: space-between;
}
.row{
    width: 100%
}
.toggle-handle {
    background: white;
}

.btn-success:hover {
    color: white;
    background-color: #ffcb05 !important;
    border-color:  #223b47 !important;
}

.btn-success {
    background-color: #ffcb05 !important;
    border-color:  #223b47 !important;
}

.btn-danger{
    background-color: #223b47 !important;
    border-color: #223b47 !important;
}

.btn-danger:hover {
    color: white;
    background-color: #223b47 !important;
    border-color: #223b47 !important;

}

.active-cyan-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ffcb05;
    box-shadow: 0 1px 0 0 #ffcb05;
}

.form-control-sm{
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: transparent;
    border-radius: 0rem;
}


/* STYLE CSS */

/* BORDER CURVES - OUTER BOX */

.infoBox1 {
    border-radius: 50px 50px 0 0;
}

#eventLocBox {
    border-bottom-right-radius: 50px;
}

.infoBox2 {
    border-radius: 0 0 50px 0;
}

.teamEventBox {
    border-radius: 0 0 50px 50px;
}

/* BORDER CURVES - INNER BOXES */

#attendanceForm,#isTeamEvent,#mapIframe,.eventTitleBoxInner,.eventDetailsBoxInner,
.eventStartTimeBoxInner1,.eventStartTimeBoxInner2,.teamEventBoxInner {
    border-radius: 10px;
    /*box-shadow: 1px 5px 100px rgba(0,0,128,0.1);*/
}

/* BOX COLOURS */



/* BUTTON STYLING */
.attendanceButtons-active{
    all: unset;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    font-weight:600;
    border: 1px solid rgba(72, 72, 72, 0.3);
    transition: all 0.1s;
    width: 5rem;
    background-color: lightgrey;
    box-shadow: 0px 0px 3px;
}

.attendanceButtons,.teamButtons {
    all: unset;
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    font-weight:600;
    border: 1px solid rgba(72, 72, 72, 0.3);
    transition: all 0.1s;
    width: 5rem;
}

.attendanceButtons, .attendanceButtons-active {
    margin: 0 1rem
}

.teamButtons {
    width: 7rem;
}
.attendanceButtons:hover,.teamButtons:hover{
    font-weight: 700;
    background-color: rgba(72, 72, 72, 0.3);
    box-shadow: 0.5px 0.5px 5px rgba(72, 72, 72, 0.3);
    cursor: pointer;
}

/* FOR TEAM EVENTS ONLY */

#isTeamEvent {
    color: white;
    background-color: rgba(0,0,128,1);
    margin: 0;
    padding: 0 10px 0 10px;
}

.eventTitleBoxInner {
    border: 2.5px solid rgba(0,0,128,0.9);
    box-shadow: 0.5px 0.5px 50px rgba(0,0,128,0.1);
}

.card  {
    border-radius:15px;
    margin: 1.5rem 0rem;
    width: 100%;
}

@media (min-width: 768px){
    #feedPost{
        max-width:600px ;
    }

}


/*background-color: rgba(0,0,128,0.1);!*rgba(0,0,128,0.5);*!
 /*background-color: rgba(0,0,128,0.5)*/
